<script setup lang="ts">
import { gsap } from 'gsap'
import ScrollTrigger from 'gsap/ScrollTrigger';
import AV from 'leancloud-storage'
import navView from '@/navView.vue';
AV.init({
    appId: 'InIuiRboDcEwyjh8iYSIaD3N-gzGzoHsz',
    appKey: "NLQOSgDwS6aitCPstpgOCMaV",
    masterKey: 'X82NFjbg8sOWFllt71GdGja0',
    serverURL: "https://iniuirbo.lc-cn-n1-shared.com"
})

window.onhashchange = () => {
    window.location.reload();
}

gsap.registerPlugin(ScrollTrigger);
setTimeout(() => {
    const snowflakesContainer = document.getElementById('snowflakes') as HTMLElement;
    const numberOfSnowflakes = 100;
    for (let i = 0; i < numberOfSnowflakes; i++) {
        const snowflake = document.createElement('div');
        snowflake.classList.add('snowflake');
        snowflake.style.left = `${Math.random() * 99}vw`;
        snowflake.style.animationDuration = `${Math.random() * 3 + 2}s`;
        snowflake.style.animationDelay = `${Math.random() * 5}s`;
        snowflake.style.width = `${Math.random() * 6 + 3}px`;
        snowflake.style.height = snowflake.style.width;

        snowflakesContainer.appendChild(snowflake);
    }
    gsap.to(".welcome1", {
        opacity: 0.7,
        scale: 0.7,
        x: 100,
        y: -100,
        scrollTrigger: {
            trigger: ".main",  //触发元素
            start: "top -1px",  //开始动画的时机
            end: "top -1500px", // 截止动画的时机
            scrub: true,  // 是否使用滚动以及回滚会回放动画
        }
    });
    gsap.to(".name", {
        scale: 2,
        y: 20,
        x: -20,
        scrollTrigger: {
            pin: true,
            trigger: ".main",  //触发元素
            start: "top -1px",  //开始动画的时机
            end: "top -1500px", // 截止动画的时机
            scrub: true,  // 是否使用滚动以及回滚会回放动画
        }
    });
}, 100);
</script>

<template>
    <navView></navView>
    <div class="main">
        <div id="snowflakes">
            <div style="position: absolute;top: 15vh;right: 20vh;">
                <div class="welcome1" style="font-size: 8rem;text-stroke:5px;color: chartreuse;">
                    欢迎来到
                </div>
                <div class="name" style="font-size: 4rem;text-stroke:5px;color: rgb(255, 140, 0);">
                    <b>
                        cn_ryh
                    </b>
                </div>
                <div class="welcome1" style="font-size: 8rem;text-stroke:5px;color: chartreuse;">
                    的个人网站
                </div>
            </div>
        </div>

        <div class="myself"
            style="position: relative; height: 80vh;width: 100%;background-color: antiquewhite;padding: 5% 0%;">
            <div style="width: 25%;height: 100%;margin-left: 10%;margin-top: 5%;">
                <img style="width: 100%;height: 80%;margin-top: 5%;" src="photo.png" />
            </div>
            <div style="position: absolute;right: 20%;top: 0%;margin-top: 5%;width: 40%;">
                <h2> 个人简介 </h2>
                <div style="font-size: large;text-indent: 2rem;">
                    <p> 本名任宇航，网络常用名 "cn_ryh"，2007 年 3 月 16 日生人。</p>
                    <p>目前就读于长春市十一高中，一名现役 oier，洛谷题解审核志愿者，业余开发者。会（但是均不精通） Javascript, Typescript 前后端开发，Vue、React 等前端框架、PS
                        以及 AE（上面的背景动画就是自己做的）。
                        NOI 2023 D 类铜牌（但其实没什么水平）。
                    </p>
                    <p>
                        曾经喜欢篮球和足球，但是上了高中之后就没什么时间了......
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
body {
    margin: 0;
}

#snowflakes {
    width: 99.5vw;
    height: 99.5vh;
    overflow: none;
    background-color: black;
}
</style>