<script setup lang="ts">
import navView from '@/navView.vue'
import { ref, Ref, VNodeRef } from 'vue'
import { ConversationBase, Event as conversationEvent, IMClient, Message, Realtime, TextMessage } from 'leancloud-realtime'
import { Notification } from '@arco-design/web-vue'
import md from '../unit/mdRender'
import AV, { Query } from 'leancloud-storage'
const realtime = new Realtime({
    appId: 'InIuiRboDcEwyjh8iYSIaD3N-gzGzoHsz',
    appKey: "NLQOSgDwS6aitCPstpgOCMaV",
    server: "https://iniuirbo.lc-cn-n1-shared.com"
})
AV.init({
    appId: 'InIuiRboDcEwyjh8iYSIaD3N-gzGzoHsz',
    appKey: "NLQOSgDwS6aitCPstpgOCMaV",
    serverURL: "https://iniuirbo.lc-cn-n1-shared.com"
})
let showerView: Ref<VNodeRef>
const currentUser = AV.User.current()
var messageIterator: AsyncIterator<Message[]>;
let messageHistory: Ref<Message[]> = ref([])
let currentUserCli: IMClient
let talkToId = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
let conversation: ConversationBase
let queryed = ref(false);
setTimeout(() => {
    if (AV.User.current()) {
        console.log(currentUser)
        if (currentUser.get(`uid`) === +(talkToId) && !isNaN(+talkToId)) {
            window.alert(`不能与自己聊天！`);
            window.location.href = `/`;
        }
        else {
            let queryUser = new Query(`datas`)
            queryUser.equalTo(`key`, `totUser`)
            queryUser.find().then((res) => {
                if (+(res[0].get(`value`)) > 0) {
                    realtime.createIMClient(`${currentUser.get(`uid`)}`).then((Cli) => {
                        currentUserCli = Cli;
                        currentUserCli.on(conversationEvent.INVITED, function invitedEventHandler(payload, conversation) {
                            console.log(payload?.invitedBy, conversation?.id);
                        });
                        currentUserCli.on(conversationEvent.MESSAGE, function (message: TextMessage) {
                            messageHistory.value.push(message)
                        });
                        currentUserCli.createConversation({
                            members: [talkToId],
                            name: currentUser.get(`uid`) + ` with ` + talkToId,
                            unique: true
                        }).then(async (conv) => {
                            conversation = await currentUserCli.getConversation(conv.id)

                            setTimeout(() => {
                                let unreadCnt = +(conversation.unreadMessagesCount.toFixed(0))
                                // 有未读消息
                                if (unreadCnt > 0) {
                                    messageIterator = conversation.createMessagesIterator({ limit: 100 });
                                    messageIterator.next().then((res) => {
                                        messageHistory.value = (res.value as Message[]).concat(messageHistory.value);
                                        if (res.done) {
                                            queryed.value = true;
                                        }
                                        setTimeout(() => {
                                            let em = document.getElementById(`shower`) as HTMLElement
                                            em.scrollTop = em.scrollHeight
                                        }, 50)
                                    })
                                }
                                conversation.read();
                            }, 200)


                        })
                    })
                } else {
                    window.alert(`您尝试聊天的用户不存在！`);
                    window.location.href = `/`;
                }
            })
        }

    }
    else {
        window.alert(`请先登录！`);
        window.location.href = `./login.html`;
    }

}, 300);
let message = ref(``)
function sendMsg() {
    let txt = message.value;
    if (txt === ``) {
        Notification.error({
            title: `发送失败`,
            content: `消息不能为空`,
            closable: true
        })
        return;
    }
    if (conversation) {
        let now = new TextMessage(txt)
        conversation.send(now)
        messageHistory.value.push(now);
        console.log(messageHistory.value)
        setTimeout(() => {
            let em = document.getElementById(`shower`) as HTMLElement
            em.scrollTop = em.scrollHeight
        }, 50)
        message.value = ``
    }
}
function loadMore() {
    queryed.value = true;
    if (messageIterator) {
        messageIterator.next().then((res) => {
            messageHistory.value = (res.value as Message[]).concat(messageHistory.value);
            setTimeout(() => {
                let em = document.getElementById(`shower`) as HTMLElement
                em.scrollTop = em.scrollHeight
            }, 50)
        })
    }
}

</script>
<template>
    <navView></navView>
    <div id="chatViewMain">
        <div id="shower" :ref="showerView">
            <center v-show="queryed == false">
                <p @click="loadMore">显示更多信息</p>
            </center>
            <div class="message-block" v-for="(item, idx) of messageHistory" :key="idx">
                <div :class="((item.from == talkToId) ? `message-block-left` : `message-block-right`)"
                    v-html="md.render((item as TextMessage).text)">
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div style="width: 100%;height: 20%;">
            <textarea v-model="message" id="inputer"
                style="width: 80%; height: 100%; margin-left: 5%; resize: none;overflow: auto"></textarea>
            <button @click="sendMsg" id="sendButton">发送</button>

        </div>
    </div>
</template>
<style>
img {
    max-width: 400px;
    max-height: 400px;
}

#chatViewMain {
    width: 90vw;
    margin-left: 5vw;
    height: 95vh;
    border: 1px double black;
    position: relative;
}

#shower {
    width: 100%;
    height: 70%;
    overflow-y: auto;
    padding-bottom: 3%;
}

.message-block-left {
    max-width: 50%;
    height: auto;
    background-color: darkgray;
    min-height: 20px;
    float: left;
    padding: 0 10px;
}

.message-block-right {
    max-width: 50%;
    height: auto;
    background-color: darkgray;
    float: inline-end;
    min-height: 20px;
    padding: 0 10px;

}

.message-block {
    width: 96%;
    min-height: 22px;
    position: relative;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
}

.message-block-right::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    /* 箭头靠右边 */
    top: 13px;
    right: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid darkgray;
}

.message-block-left::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 13px;
    left: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid darkgray;

}

.clear {
    clear: both;
    width: 0;
    height: 0;
}

#sendButton {
    width: 10%;
    height: 4rem;
    background-color: gold;
    position: absolute;
    bottom: 4rem;
    right: 2.5%;
}


@media screen and (max-width: 800px) {
    #sendButton {
        width: 10%;
        height: 3rem;
        right: 5%;
    }

    #inputer {
        width: 75% !important;
    }
}

@media screen and (max-width: 456px) {
    #sendButton {
        width: 12%;
        height: 4rem;
        right: 5%;
    }

    #inputer {
        width: 70% !important;
    }
}
</style>
