<script setup lang="ts">
import { ref } from 'vue'
let title = ref('UnTitled'), content = ref(''), createTime = ref(), updateTime = ref(), blogId = ref(0)
let realPassword = ref(``)
let userpassword = ref(``)
blogId.value = +(window.location.href.substring(window.location.href.lastIndexOf('/') + 1))
import AV from 'leancloud-storage'
import md from '../unit/mdRender'
import { formatDateTime } from '@/unit/unit';
import { Modal, Notification, Input } from '@arco-design/web-vue';
AV.init({
    appId: 'InIuiRboDcEwyjh8iYSIaD3N-gzGzoHsz',
    appKey: "NLQOSgDwS6aitCPstpgOCMaV",
    serverURL: "https://iniuirbo.lc-cn-n1-shared.com"
})
let BlogQuery = new AV.Query('Blogs')
BlogQuery.equalTo("id", +(blogId.value))

let showPasswordInputer = ref(false);

BlogQuery.find().then(res => {
    console.log(res);
    realPassword.value = res[0].get("Blogpassword") ?? ``
    if (realPassword.value != ``) {
        showPasswordInputer.value = true;
    }

    title.value = res[0].get('title')
    content.value = res[0].get('content')
    createTime.value = formatDateTime(res[0].get('createdAt'));
    updateTime.value = formatDateTime(res[0].get('updatedAt'));

    (document.getElementById(`mainContent`) as HTMLElement).innerHTML = md.render(content.value)
}).catch((err) => {
    console.error(err)
})
function jumpback() {
    window.location.href = "./blog.html#list"
}
function checkPassword() {
    console.log(realPassword.value, userpassword.value)
    if (realPassword.value == userpassword.value) {
        showPasswordInputer.value = false;
        Notification.success(`解锁成功`)
    }
    else {
        Notification.error(`密码错误`)
    }
}
</script>
<template>
    <div>
        <Modal :visible="showPasswordInputer" @ok="checkPassword()" @cancel="jumpback()">
            <Input.Password v-model="userpassword" placeholder="请输入文章密码">
            </Input.Password>
        </Modal>
        <a-row class="grid-demo" v-show="!showPasswordInputer">
            <a-col :xxl="4" :xs="0" :xl="4" :lg="4" :md="0" :sm="0" style="background-color: bisque;">
                <div></div>
            </a-col>
            <a-col :xs="24" :sm="24" :md="17" :lg="15" :xl="15" :xxl="15">
                <!-- <div></div> -->
                <ALayout style="width: 100%;height: 100%; overflow: auto;">
                    <ALayoutHeader class="ContentHeader"
                        style="background-image: url(https://www.dmoe.cc/random.php?1);background-size: cover;background-position: 50%;">
                    </ALayoutHeader>
                    <ALayoutContent style="margin-left: 5%;margin-right: 5%;color: black;">
                        <div>
                            <h1>{{ title }}</h1>
                            <div>
                                <span>
                                    创建于：{{ createTime }}
                                </span>
                                <span>
                                    最后更新于：{{ updateTime }}
                                </span>
                            </div>
                            <article id="mainContent">
                            </article>
                        </div>
                    </ALayoutContent>
                    <ALayoutFooter style="height: 10vh;background-color: darkgrey;">
                        本文由 cn_ryh 创作，未经允许禁止转载。
                    </ALayoutFooter>
                </ALayout>
            </a-col>
            <a-col :xxl="5" :xs="0" :xl="5" :lg="5" :md="7" :sm="0" style="background-color: burlywood;">

            </a-col>
        </a-row>
    </div>
</template>

<style scoped>
.ContentHeader {
    height: 35vh;
}

@media screen and (max-width: 1120px) {
    .ContentHeader {
        height: 30vh;
    }
}

@media screen and (max-width: 512px) {
    .ContentHeader {
        height: 25vh;
    }
}

@media screen and (max-width: 400px) {
    .ContentHeader {
        height: 22vh;
    }
}

.grid-demo .arco-col {
    height: 100vh;
    color: var(--color-white);
}

.Calendar {
    width: 100%;
    height: calc(width);
    margin: 10px;
}

.grid-demo .arco-col>div {
    display: flex;
    height: 100%;
}
</style>