<script setup lang="ts">
import { Ref, ref } from 'vue'
let blogList: Ref<any[]> = ref([])
import AV from 'leancloud-storage'
import md from '@/unit/mdRender';
AV.init({
    appId: 'InIuiRboDcEwyjh8iYSIaD3N-gzGzoHsz',
    appKey: "NLQOSgDwS6aitCPstpgOCMaV",
    serverURL: "https://iniuirbo.lc-cn-n1-shared.com"
})
const queryBlogLists = new AV.Query("Blogs");
let queryOptions: { [key: string]: string } = {}
if (window.location.search.length > 0) {
    for (let now of window.location.search.split('?')[1].split('&')) {
        let name = now.split('=')[0]
        let value = now.split('=')[1]
        queryOptions[name] = value
    }
}
if (queryOptions.tag) {
    queryBlogLists.equalTo("tag", queryOptions.tag);
}
queryBlogLists.find().then((list) => {
    blogList.value = []
    for (let now of list) {
        blogList.value.push(now.toFullJSON())
    }
    for (let now of blogList.value) {
        console.log(now)
    }
});
function getshower(item:any)
{
    if(item.Blogpassword !== `` && item.Blogpassword != undefined )
    {
        return `文章被密码保护`
    }
    return md.render(item.content);
}
// AV.Query()
</script>
<template>
    <div style="margin-top: 2vh;">
        <a-collapse>
            <a-collapse-item v-for="(elem, _idx) in blogList" :key="_idx" :header="elem.title">
                <template #extra>
                    <a-link :href="`./blog.html#${elem.id}`">阅读全文</a-link>
                </template>
                <div
                    v-html="getshower(elem)">
                </div>
            </a-collapse-item>
        </a-collapse>
    </div>
</template>
<style scoped></style>