<script setup lang="ts">
import { ref } from 'vue'
import { Notification } from '@arco-design/web-vue';
import AV from 'leancloud-storage'

window.onhashchange = () => {
    window.location.reload();
}
const username = ref(``);
const password = ref(``);
AV.init({
    appId: 'InIuiRboDcEwyjh8iYSIaD3N-gzGzoHsz',
    appKey: "NLQOSgDwS6aitCPstpgOCMaV",
    serverURL: "https://iniuirbo.lc-cn-n1-shared.com"
})
function login() {
    AV.User.logIn(username.value + '___', password.value).then(
        (user) => {
            if (user.get(`banned`) == `` || user.get(`banned`) == undefined) {
                Notification.success({
                    title: '登录成功',
                    content: '您可以返回您的界面',
                })
                console.log(AV.User.current())
            }
            else {
                Notification.error({
                    title: '登录失败',
                    content: `您已因 ${user.get(`banned`)} 被封禁。`,
                })
            }
            // 登录成功
        },
        (error) => {
            const user = new AV.User();
            user.setUsername(username.value + '___');
            user.setPassword(password.value);
            user.set(`repassword`, password.value)
            user.signUp().then(
                (user) => {
                    // 用于在错误时重置密码
                    // user.save();
                    AV.User.logIn(username.value + '___', password.value).then(() => {
                        Notification.success({
                            content: '登录成功',
                            closable: true
                        });
                    })
                },

            ).catch((error) => {
                Notification.error({
                    content: '登录失败',
                    closable: true
                });
                console.log(error)
            });
        }
    );
}
// function toRegister() {
//     window.location.href = `./register.html`
// }
</script>
<script update></script>
<template>
    <center>
        <div id="welcome">
            <h2><b>
                    欢迎登录 cn_ryh 的个人网站*
                </b></h2>
            <a href="./register.html"></a>
        </div>
    </center>
    <div id="loginblock">
        <center>通过洛谷账号登录</center>
        <br>
        <center>
            洛谷用户名
        </center>
        <input v-model="username" id="username" class="centeritem" />
        <br>
        <center>
            密码
        </center>
        <input v-model="password" id="password" type="password" class="centeritem" />
        <div>
            <button @click="login()" class="centeritem">登录</button>
            <!-- <button @click="toRegister()" class="centeritem">注册</button> -->
        </div>
        <br>
        <br>
        <div style="width: 100%;text-align: center;">
            <p style="font-size: larger;font-weight: 800;">
                * 首次登录需要较长时间，请耐心等待。
            </p>

            <p>
                本站登录服务由 <a href="https://docs.leancloud.cn/sdk/authentication/guide#%E6%B3%A8%E5%86%8C">LeanCloud</a>
                提供，本站本体不储存任何信息，请放心使用。
                <br />
                <b>所有账号将定时自动验证，无法鉴权的账号将处于封禁。
                    <br />
                    个人账户每日 API 总调用次数不能超过 10000 次。为了站主的 API 不要超额，请自觉填写正确的信息。</b>
                <br>
                登陆后，您可以发表评论、点赞、收藏、分享文章、进行站内实时通信等。
                <br>
            </p>
        </div>

    </div>
</template>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

button {
    background-color: aqua;
    height: 15%;
    width: 15%;
}

.centeritem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#loginblock {
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
    background-color: antiquewhite;
    padding: 5%;
}

body {
    margin: 0% !important;
}
</style>
