<script setup lang="ts">
import { ref } from 'vue'
import { Notification } from '@arco-design/web-vue';
import AV from 'leancloud-storage'

let username = ref(``)
let password = ref(``)
let repassword = ref(``)
AV.init({
    appId: 'InIuiRboDcEwyjh8iYSIaD3N-gzGzoHsz',
    appKey: "NLQOSgDwS6aitCPstpgOCMaV",
    serverURL: "https://iniuirbo.lc-cn-n1-shared.com"
})
// function register() {
//     if (password.value !== repassword.value) {
//         Notification.error({
//             title: '错误',
//             content: '两次输入的密码不一致',
//             closable: true
//         });
//         return;
//     }
//     const user = new AV.User();
//     user.setUsername(username.value);
//     user.setPassword(password.value);
//     user.signUp().then(
//         (user) => {
//             // 用于在错误时重置密码
//             user.set(`repassword`, password.value)
//             user.save();
//             Notification.success({
//                 title: '注册成功',
//                 content: '您已注册成功',
//                 closable: true
//             });
//             // 注册成功
//             console.log(`注册成功。objectId：${user.id}`);
//         },

//     ).catch((error) => {
//         Notification.error({
//             title: '注册失败',
//             content: '用户名已被使用',
//             closable: true
//         });
//         console.log(error)
//         // 注册失败（通常是因为用户名已被使用）
//     });
// }
</script>
<template>
    <div></div>
</template>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

body {
    margin: 0% !important;
}
</style>
