<script setup lang="ts">
import { ref } from 'vue';
// import markdown from 'markdown-it';
import mdEdit from '../mdEdit.vue';
let title = ref('UnTitled')
let content = ref('')
let blogId = ref(0)
blogId.value = +(window.location.href.substring(window.location.href.lastIndexOf('/') + 1))
import AV from 'leancloud-storage'
AV.init({
    appId: 'InIuiRboDcEwyjh8iYSIaD3N-gzGzoHsz',
    appKey: "NLQOSgDwS6aitCPstpgOCMaV",
    serverURL: "https://iniuirbo.lc-cn-n1-shared.com"
})
let editor = ref();
let Blog: AV.Object;
if (!isNaN(blogId.value)) {
    let Blogquery = new AV.Query('Blogs')
    Blogquery.equalTo(`id`, blogId.value);
    Blogquery.find().then(res => {
        if (res.length == 0) {
            window.alert(`不存在的博客`);
            return;
        }
        Blog = (res[0] as AV.Object);
        title.value = res[0].get('title')
        content.value = res[0].get('content')
        editor.value.nowcontent = content.value
    })
} else {
    window.alert(`不存在的博客`)
}
document.title = `编辑博客`
function save() {
    Blog.set('title', title.value)
    Blog.set('content', content.value)
    Blog.save().then((res) => {
        console.log(content.value)
        console.log(res);
    });
}
</script>
<template>
    <div style="height: 5vh;">
        <span>
            博客标题
            <input v-model="title" />
        </span>
    </div>
    <AButton @click="save()">保存修改</AButton>
    <div style="width: 90vw;height: 90vh;margin-left: 5vw;margin-top: 4vh;">

        <mdEdit v-model:initContent="content" ref="editor" style="width: 100%;height: 100%;">

        </mdEdit>
    </div>
</template>

<style scoped></style>