<script setup lang="ts">
import { Ref, ref } from 'vue'
import { Notification, Drawer, Table, TableColumn, Button, Modal } from '@arco-design/web-vue'
import mdEdit from '@/mdEdit.vue';
import md from '@/unit/mdRender'
let title = ref('UnTitled')
let content = ref('')
let blogId = ref(0)
let showchosenDrawer = ref(false)
blogId.value = +(window.location.href.substring(window.location.href.lastIndexOf('/') + 1))
import AV from 'leancloud-storage'
import { formatDateTime } from '@/unit/unit';
AV.init({
    appId: 'InIuiRboDcEwyjh8iYSIaD3N-gzGzoHsz',
    appKey: "NLQOSgDwS6aitCPstpgOCMaV",
    serverURL: "https://iniuirbo.lc-cn-n1-shared.com"
})
interface Blog {
    title: string,
    content: string,
    tag?: string[],
    id?: number,
    createTime?: string,
    updateTime?: string,
}
let mdEditer = ref()
let savedBlogs: Ref<Blog[]> = ref([])
function upload() {
    var resultFile = (((document.getElementById("markdown")) as HTMLInputElement).files as FileList)[0];
    if (resultFile) {
        title.value = resultFile.name.split(".")[0]
        var reader = new FileReader();

        reader.readAsText(resultFile, "utf-8");
        reader.onload = function (e) {
            const urlData = e.target?.result as string;
            console.log(urlData)
            content.value = urlData;
            // this.re
            mdEditer.value.nowcontent = urlData;
            console.log(content.value)
        };
    }
}

function save() {
    savedBlogs.value = JSON.parse(window.localStorage.getItem('blogs') ?? `[]`)
    if (savedBlogs.value.filter(blog => blog.title == title.value).length) {
        for (let now of savedBlogs.value) {
            now.content = content.value
            now.updateTime = formatDateTime(new Date())
        }
    }
    else {
        savedBlogs.value.push({
            title: title.value,
            content: content.value,
            createTime: formatDateTime(new Date()),
            updateTime: formatDateTime(new Date())
        })

    }
    window.localStorage.setItem('blogs', JSON.stringify(savedBlogs.value))
    Notification.success("保存成功")
}
function localLoad() {
    showchosenDrawer.value = true
    savedBlogs.value = JSON.parse(window.localStorage.getItem('blogs') ?? `[]`)
}
function publish() {
    let newBlog = new AV.Object("Blogs")
    newBlog.set("title", title.value)
    newBlog.set("content", content.value)
    newBlog.save().then(res => {
        console.log(res.get(`content`))
        Notification.success("发布成功")
    }).catch(err => {
        console.error(err)
    })
}
document.title = `博客编辑`
// 从浏览器导入：当前显示的内容
let nowViewDetail = ref(``)
// 从浏览器导入：是否显示内容
let nowVisDetail = ref(false)

let nowSelectedLocalTitle = ref(``), nowSelectedLocalContent = ref(``)
</script>
<template>
    <div>
        博客名称：
        <input v-model="title" />
    </div>
    <!-- <AUpload draggable action="/" accept=".md" /> -->
    <input id="markdown" type="file" accept=".md">
    <Button @click="upload()"> 上传 </Button>
    <Button @click="save()">保存</Button>
    <Button @click="publish()">发布</Button>
    <Button @click="localLoad()">从浏览器数据库导入</Button>
    <div style="width: 95vw;height: 80vh;margin-top: 5vh;margin-left: 2.5vw;">
        <mdEdit v-model:initContent="content" ref="mdEditer"></mdEdit>
    </div>
    <Drawer width="50vw" :visible="showchosenDrawer" @ok="() => {
        if (nowSelectedLocalTitle !== `` && nowSelectedLocalContent !== ``) {
            title = nowSelectedLocalTitle
            content = nowSelectedLocalContent
            mdEditer.nowcontent = nowSelectedLocalContent
            nowSelectedLocalContent = ``
            nowSelectedLocalTitle = ``
            showchosenDrawer = false
        }
        else {
            Notification.error(`请选择要导入的内容`)
        }
    }" @cancel="() => { showchosenDrawer = false }">
        <Table :data="savedBlogs" :rowSelection="{ type: 'radio' }" @select="(_rowKeys, _rowKey, record) => {
            nowSelectedLocalTitle = record.title;
            nowSelectedLocalContent = record.content
        }
            ">
            <template #columns>
                <TableColumn title="标题" dataIndex="title"></TableColumn>
                <TableColumn title="创建时间" dataIndex="createTime"></TableColumn>

                <TableColumn title="修改时间" dataIndex="updateTime"></TableColumn>

                <TableColumn title="内容">
                    <template #cell="{ record }">
                        <Button @click="() => { nowViewDetail = record.content; nowVisDetail = true }">view</Button>
                        <Modal @close="() => { nowVisDetail = false }" @cancel="() => { nowVisDetail = false }"
                            @ok="() => { nowVisDetail = false }" fullscreen :visible="nowVisDetail">
                            <div v-html="md.render(nowViewDetail)"></div>
                        </Modal>
                    </template>

                </TableColumn>
            </template>
        </Table>
    </Drawer>
</template>

<style scoped></style>