<!-- 
<script lang="ts" setup>
import { ref, reactive, defineProps } from 'vue';
import './unit/markdown.css'
import md from './unit/mdRender'
let nowcontent = ref(``)
let props = reactive(defineProps<{ width?: string, height?: string, initContent?: string }>());
if (props.initContent) {
    nowcontent.value = props.initContent
}
</script> -->
<script lang="ts">
import { defineComponent } from 'vue';
import md from './unit/mdRender'
export default defineComponent({
    props: {
        width: {
            type: String,
            default: '100%'
        },
        height: {
            type: String,
            default: '100%'
        },
        initContent: {
            type: String,
            default: ''
        }
    },
    data() {
        return {
            nowcontent: this.initContent,
            md: md
        }
    },
    setup() {
        // if (props.initContent) { }
    }, methods:
    {
        changeView() {
            this.$emit(`update:initContent`, this.nowcontent)
        }
    }
})
</script>
<template>
    <div style="width: 100%;height: 100%;outline: solid;">
        <div id="mdeditor-editor"><textarea id="mdeditor-inputer" v-model="nowcontent"
                @input="() => { changeView() }"></textarea>
        </div>
        <div id="mdeditor-preview" v-html="md.render(nowcontent)">
        </div>
    </div>
</template>
<style>
#mdeditor-editor {
    width: 49%;
    height: 100%;
    float: left;
}

#mdeditor-preview {
    width: 49.5%;
    height: 100%;
    overflow: auto;
    float: inline-end;
}

#mdeditor-inputer {
    width: 99%;
    height: 99.5%;
    resize: none;
    overflow: auto;
}
</style>